header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  font-size: 2rem;
  padding-left: 0.5rem;
}

.main-title {
  height: 100%;
  font-size: 3rem;
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-title {
    text-align: center;
  }
}
